%- macro version_description()
%- include 'version_description'
%- endmacro

%- macro metrics_meta_table_text()
%- include 'metrics_meta_table_text'
%- endmacro

%- macro obsfx_table_text()
%- include 'obsfx_table_text'
%- endmacro

%- macro metric_table(report_metrics, category, metric_ordering)
%- set human_category = human_categories[category]
\FloatBarrier
\clearpage
\begin{landscape}
  \pagestyle{empty}
  \small
  \begin{longtabu} to \linewidth {
      X *{\VAR{metric_ordering | length}}{| l}
    }
    \caption{Table of \VAR{human_category} metrics.} \\
    \toprule
    Forecast\BLOCK{for m in metric_ordering} & \VAR{human_metrics[m].replace('^', '\\textasciicircum')}\BLOCK{endfor} \\
    \midrule
    \endfirsthead
    \caption{Table of \VAR{human_category} metrics (cont.)} \\
    \toprule
    Forecast\BLOCK{for m in metric_ordering} & \VAR{human_metrics[m].replace('^', '\\textasciicircum')}\BLOCK{endfor} \\
    \midrule
    \endhead
    \endfoot
    \bottomrule
    \endlastfoot
    %- for fx_result in report_metrics
    \VAR{fx_result.name}
    %- for metric in metric_ordering
    %- for mval in fx_result.values
    %- if mval.category == category and mval.metric == metric
    %- if -0.01 < mval.value < 0.01
    & \VAR{'%.2e' | format(mval.value)}
    %- else
    & \VAR{'%0.3g' | format(mval.value)}
    %- endif
    %- endif
    %- endfor
    %- endfor
    \\
    %- endfor
  \end{longtabu}
\end{landscape}
\clearpage
\FloatBarrier
%- endmacro
