name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest
    container:
      image: quay.io/solararbiter/solarforecastarbiter-core:latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-test.txt
          tlmgr --usermode install $(cat packages.tex) --repository=http://mirrors.ibiblio.org/pub/mirrors/CTAN/systems/texlive/tlnet

      - name: Install solarforecastarbiter with extras
        run: pip install '.[all]'

      - name: Pytest
        run: pytest solarforecastarbiter --cov --cov-report=xml:$HOME/coverage.xml

      - name: flake8
        run: flake8 solarforecastarbiter
        if: ${{ always() }}

      - name: coverage
        uses: codecov/codecov-action@v1
        with:
          file: $HOME/coverage.xml
          flags: adder,subtractor,pypi
          fail_ci_if_error: true
        if: ${{ always() }}

      - name: make docs
        run: |
          pip install -r docs/requirements.txt
          make -C docs html
        if: ${{ always() }}
